.canvas_holder {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.canvas_holder canvas {
  width: 100%;
}
