:root {
  --container-size: 850px;
  --white: #f9f9f9;
  --black: #333;
  --light-gray: #eee;
  --gray: #aaa;
  --dark-gray: #777;
  --primary-color: #3276dc;
  --primary-color-lighter: #3886fa;
  --primary-color-darker: hsl(216, 85%, 30%);
  --primary-color-disabled: #6f829f;
  --primary-shadow-color: rgba(10, 84, 194, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.App > main {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.intro {
  margin-bottom: 3rem;
}

.intro h2 {
  color: var(--primary-color-darker);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.intro h2 svg {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}

.intro p {
  color: var(--dark-gray);
}
